
<body>
    
    <div class="wrapper">
        <div class="w-50 mx-auto text-center h-75 ">
            <h3 class=" fw-bold">Workman EMS</h3>
            <p class="">Version: 1.0.1</p>
            <p class="d">Designed by: Vuyo Dila</p>
            <p class="d">Developed by: Vuyo Dila</p>
            <br>
            <p>This is work in progress</p>
            
        </div>
        <footer class="">
            <p class="footer_p">Copyfar-right &copy; 2023, Kyxon Creativez.</p>
        </footer>

    </div>
</body>
