<div class="row justify-content-even my-4 ">
    <div class="w-75">
      <div class="input-group">
        <label class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-binoculars" viewBox="0 0 16 16">
          <path d="M3 2.5A1.5 1.5 0 0 1 4.5 1h1A1.5 1.5 0 0 1 7 2.5V5h2V2.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5v2.382a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V14.5a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 14.5v-3a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5v3A1.5 1.5 0 0 1 5.5 16h-3A1.5 1.5 0 0 1 1 14.5V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882zM4.5 2a.5.5 0 0 0-.5.5V3h2v-.5a.5.5 0 0 0-.5-.5zM6 4H4v.882a1.5 1.5 0 0 1-.83 1.342l-.894.447A.5.5 0 0 0 2 7.118V13h4v-1.293l-.854-.853A.5.5 0 0 1 5 10.5v-1A1.5 1.5 0 0 1 6.5 8h3A1.5 1.5 0 0 1 11 9.5v1a.5.5 0 0 1-.146.354l-.854.853V13h4V7.118a.5.5 0 0 0-.276-.447l-.895-.447A1.5 1.5 0 0 1 12 4.882V4h-2v1.5a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5zm4-1h2v-.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm4 11h-4v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zm-8 0H2v.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5z"/>
        </svg></label><input class="search border" type="text" name="search" placeholder="Search by name " [(ngModel)]="searchTerm">
      </div>
        
    </div>
    <div class="w-25 clearfix">
        
        <button class="sort dropdown-toggle float-end text-secondary me-2" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="sort text-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="25" fill="currentColor" class="bi bi-sort-up" viewBox="0 0 16 16">
          <path d="M3.5 12.5a.5.5 0 0 1-1 0V3.707L1.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L3.5 3.707zm3.5-9a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5M7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1z"/>
        </svg></span>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="sortBy('fname')">Name</a></li>
            <li><a class="dropdown-item" (click)="sortBy('dept')">Dept.</a></li>
            <li><a class="dropdown-item" (click)="sortBy('status')">Status</a></li>
          </ul>
    </div>
    
</div>

<div class = "row justify-content-center">
  <div class="col-4 text-center my-4">
    <button class="btn btn-primary" routerLink="/add">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
      </svg>
    </button>
    
  </div>
</div>


<table class="table rounded-corners border shadow table-hover" *ngIf="emplist.length; else loading">
  <thead class="three rounded">
    <tr id="first p-3 mx-2">
      <th scope="col" class="headers">#</th>
      <th scope="col" class="headers">First</th>
      <th scope="col" class="headers">Last</th>
      <th scope="col" class="headers">Dept.</th>
      <th scope="col" class="headers">Status</th>
      <th scope="col" class="headers">Actions</th>
    </tr>
  </thead>
  <tbody *ngIf="(emplist | filter: searchTerm).length; else noResults">
    <tr *ngFor='let emp of emplist | filter: searchTerm' class="border">
      <th scope="row">{{ emp.emp_id }}</th>
      <td>{{ emp.fname }}</td>
      <td>{{ emp.lname }}</td>
      <td>{{ emp.dept }}</td>
      <td>{{emp.status}}</td>
      <td class="">
        <span class="material-symbols-outlined edit me-4" routerLink="/view/{{emp.emp_id}}" >edit_square</span>
        <span class="material-symbols-outlined del"   data-bs-toggle="modal" data-bs-target="#exampleModal">delete_forever</span>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              
              <div class="modal-body">
                <form>
                  
                  <div class="mb-3 text-center">
                    <span class=""><svg class="bg-dark" xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#E9D502" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                      <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                    </svg></span>
                  
                    <h5 class="rm mt-2 fw-bold">Remove Employee?</h5>
                    <span>Are you sure you want to remove this entry? This action cannot be undone.</span>
                  </div>
                </form>
              </div>
              <div class="modal-footer justify-content-center bg-light">
                <button type="button" class="btn btn-primary me-2" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteOne(emp.emp_id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<ng-template class="w-100 border" #noResults>
  <p class="p-3 text-center">No results found.</p>
</ng-template>
<ng-template class="w-100" #loading>
  <p class="p-3 text-center">Fetching data...</p>
</ng-template>

